# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\愤怒的小鸟\FlyBird\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
