<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emp.dao.DeptDao">
    <resultMap id="deptMap" type="Dept">
        <id column="deptno" property="deptno"/>
        <result property="dname" column="dname"/>
        <result property="loc" column="loc"/>
        <collection property="emps" ofType="Emp">
            <id column="empno" property="empno"/>
            <result property="ename" column="ename"/>
            <result column="job" property="job"/>
            <result property="mgr" column="mgr"/>
            <result column="hiredate" property="hiredate"/>
            <result property="sal" column="sal"/>
            <result column="comm" property="comm"/>
            <result property="deptno" column="deptno"/>
        </collection>
    </resultMap>
    <select id="findDeptById" parameterType="int" resultMap="deptMap">
        select emp.*, dept.*
        from emp,
             dept
        where emp.deptno = dept.deptno
          and dept.deptno = #{deptno};
    </select>
</mapper>