<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="DaoImpl" class="com.qing.Ioptest.dao.UserDaoImpl"/>
    <bean id="MysqlImpl" class="com.qing.Ioptest.dao.UserMysqlImpl"/>
    <bean id="OracleImpl" class="com.qing.Ioptest.dao.UserOracleImpl"/>

</beans>